doctype
html
  head
    title DUFC

        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM:.  8 ...MMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM  D....NO    MMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM..8 I.+.... ZZ...$MMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM . ..M..:... . .I?   M -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM~.N..Z..,..~D  .....MZM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM = ....MMMMM:..ON. , N. -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7.D .$ MMMMMMMMMM:... .M -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM MM.. .M MMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMM..... ..M..~.MMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMMMMM8.... .OMM.M~. I..MMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMN......NMM= ....+..M....DMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMM+ .... MMMI ........M... NN .. MMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMM..... ,MMMZ...........MMN.M.....MN  . MMMMMMMMMM -->
        <!-- MMMMMMMM. ....,MMMN. ............... . ....... M$...=MMMMMMM -->
        <!-- MMMM .....ZMMMM ................................MM...MMMMMMM -->
        <!-- + ....MMMMM. ...............................8MMM..:..MMMMMMM -->
        <!-- +.NMMMM................................ OMMM .....O..MMMMMMM -->
        <!-- +.8MMMMMN ....  .~D. ....  .   ...  NMMM+.. . . . M. MMMMMMM -->
        <!-- I.7M ..MMMM NMMM ..........  . .8MMMM . . ........M. MMMMMMM -->
        <!-- Z.:MM ...=MMMM.............,MMMMM................ M..MMMMMMM -->
        <!-- D.,MZM....M:.MMM.......?MMMMM~.......... .........M..MMMMMMM -->
        <!-- M..M M....M ...MMM DMMMMM=.... .. ............... M. MMMMMMM -->
        <!-- M..M.~M..?M .   .MMMM, ..       . . ...   . . . . M..MMMMMMM -->
        <!-- M..M?.M$.DM....$MMM .. ..  .. .. .....  ......... M. MMMMMMM -->
        <!-- M..MO. M.MM.  MM.MM. .....    ...   ..  ..   ...  M..MMMMMMM -->
        <!-- M..MN..MNMN.,M ..MM................ MMM..:M.M M . M .MMMMMMM -->
        <!-- M..MM.. MMZM.....$M..........=M:...MMMMM .MMIM8...M .MMMMMMM -->
        <!-- M..MM...,M,......~M.... M.. MMMMM.MMMMMMM ..?M... M .MMMMMMM -->
        <!-- M..MM.... .......:M...MMMM.MMMMMM MMM :MM . M.... M .MMMMMMM -->
        <!-- M..MM......... ...M. MMMMM MMM MMMMMM.?MM .MMMMM. M .MMMMMMM -->
        <!-- M..MM........  .. M :MMMMM.MMM.MMM MMMMMM. M.M.D. M .MMMMMMM -->
        <!-- M..MM....... . .. M  :NMMMMMMM~MMM. MMMM: . ..I . M..MMMMMMM -->
        <!-- M..MM...........  M.   .MMM MMMMMM...= .... ,M.  .M..MMMMMMM -->
        <!-- M..MM.............M ....MMM..MMM?.....  .MMMMMM.. M..MMMMMMM -->
        <!-- M..MM....... . . .M ....NMMM.. ......MMMM,MMMM .  M..MMMMMMM -->
        <!-- M..MM............ M ........... .M,.MMMMM.MMMMM.. M..MMMMMMM -->
        <!-- M..MD......... ...M .  ..... MM MMM.MMM ..MMMD .. M..MMMMMMM -->
        <!-- M..MZ.......... ..M ..., +M  MMMMMM.MM:.  ,MMMMM  M..MMMMMMM -->
        <!-- M..M?........ . . M  .MMNMM~. MM.MM7MMM. M.MMMMMM M..MMMMMMM -->
        <!-- M..M,.............M...=MM.MM..MM MMM.MMMMM$MM. ...M..MMMMMMM -->
        <!-- M..M......... ... M  . MM~MM. MMM8MM..MMM$.....  ~M..MMMMMMM -->
        <!-- ?..M...........  .M .. MMMMMMMMMM MM$...  .......?M..MMMMMMM -->
        <!--  ..M..........  . M .M.~MM.MMMMM.  . .  ... . .. ZD.ZMMMMMMM -->
        <!--  ..M............. M..MMMMM ... ........   ..... .D7.MMMMMMMM -->
        <!-- ...M........ . . .M. MMMM............. ..  .. ..~M=.MMMMMMMM -->
        <!-- ..,M..............M .  .  ..   .  ....  ... .ZMMD ..MMMMMMMM -->
        <!--  ...M......... .. M .......  . ........ ..MMMI. .. ...MMMMMM -->
        <!-- MD...~M..... .  ..M  ....  ..  .... ..7MMM... D=MMO .. MMMMM -->
        <!-- MMM ...=M=........M . ..... .. ....MMMI  ..7M=ZM.I...MMMMMMM -->
        <!-- MMMMM ...:MD.. ..:M ..... .. ..MMMN  . MMMM.MM ....MMMMMMMMM -->
        <!-- MMMMMMM ... MM...8M   .. ..MMMN   .MMM8M... ...~MMMMMMMMMMMM -->
        <!-- MMMMMMMMM ....MM.MM. ,MMMM?....M~MM.M.......MMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMM ... MMMM= . . Z.NMM N  ..  MMMMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMM=...  ... M.8.N.~.. . $MMMMMMMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMM . .M:.NO.... 8MMMMMMMMMMMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMM~  . . ..MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->
        <!-- MMMMMMMMMMMMMMMMMMMMM~IMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->


    link(rel='stylesheet', href='/views/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" type="text/javascript")
    script(src="/js/main.js")

    link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

    link(rel='apple-touch-icon', sizes='57x57', href='http://dialupstuff.com/img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='http://dialupstuff.com/img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='http://dialupstuff.com/img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='http://dialupstuff.com/img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='http://dialupstuff.com/img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='http://dialupstuff.com/img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='http://dialupstuff.com/img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='http://dialupstuff.com/img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='http://dialupstuff.com/img/favicon/apple-icon-180x180.png')

    link(rel='icon', type='image/png', sizes='192x192', href='http://dialupstuff.com/img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='http://dialupstuff.com/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='http://dialupstuff.com/img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='http://dialupstuff.com/img/favicon/favicon-16x16.png')

    link(rel='manifest', href='img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='http://dialupstuff.com/img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    <!-- DON'T FORGET TO FILL OUT OpenGraph FIELDS -->

    meta(property='og:title', content='DIAL UP FINANCIAL CONSULTING')
    meta(property='og:description', content='SEE WHATS ACTUALLY WORTH BUYING')
    meta(property='og:url', content='http://finance.dialupstuff.com')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://dialupstuff.com/img/favicon/embedImage.png')
    meta(property='og:image:width', content='600')
    meta(property='og:image:height', content='600')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='DIAL UP')
    meta(name='twitter:creator', content='@DialUpStuff')
    meta(name='twitter:title', content='DIAL UP')
    meta(name='twitter:description', content='SEE WHATS ACTUALLY WORTH BUYING')
    meta(name='twitter:image:src', content='http://dialupstuff.com/img/favicon/embedImage.png')
    meta(name='twitter:domain', content='dialupstuff.com')

  body#body
    #main.container
      .row
        .col-md-12
          ul.ticker
            for stock in data
              li(style='color: #{stock.color}') #{stock.name} <br> #{stock.value}
      a(href = "/add")
        button#submitBtn ADD NEW STOCK HERE

    #footer
      h3 DIAL UP


    