doctype
html
  head
    title RIP DWAYNE
    link(rel='stylesheet', href='/views/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" type="text/javascript")
    script(src="/js/main.js")

    link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

  body#body
    #main.container
      .row
        .col-md-10.col-md-offset-1
          ul.ticker
            li First Stock 143.21
            li Second Stock 41.21
            li Third Stock 73.21
            li Fourth Stock 93.21
            li Fifth Stock 3.21

    