html
  head
    title DIAL UP - TOP STOCKS
    link(rel='stylesheet', href='/views/stylesheets/topstocks.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" type="text/javascript")
    script(src="/js/main.js")

    link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

  body#body
    #main.container
      .row
        .col-md-12
          ul
            for stock in data
              li(style='color: #{stock.color}') #{stock.name} <br> #{stock.value}
    #footer
      h3 DIAL UP
