.field {
	width: 50vw;
	margin-left: 23vw;
	margin-bottom: 4vh;
	height: 10vh;
	font-size: 2em;
	text-indent: 20px;
}

#form {
	margin-top: 15vh;
}

ul {
	font-size: 2em;
	text-align: center;
	margin-bottom: 50px;
	margin-left: -5vw;
	color: white;
	list-style: none;
}